/**
* Stylesheet to add global styles specific to Product Notice
*/
#crwcpn-global-notice .default{
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: 5px;
	margin-bottom: 5px;
}

#crwcpn-global-notice .red{
	background-color: #fef4f6;
	color: #f0506e;
	padding: 5px;
	margin-bottom: 5px;
}

#crwcpn-global-notice .blue{
	background-color: #d8eafc;
	color: #1e87f0;
	padding: 5px;
	margin-bottom: 5px;
}

#crwcpn-global-notice .yellow {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
	padding: 5px;
	margin-bottom: 5px;
}

#crwcpn-individual-product-notice .default{
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	padding: 5px;
	margin-bottom: 5px;
}

#crwcpn-individual-product-notice .red{
	background-color: #fef4f6;
	color: #f0506e;
	padding: 5px;
	margin-bottom: 5px;
}

#crwcpn-individual-product-notice .blue{
	background-color: #d8eafc;
	color: #1e87f0;
	padding: 5px;
	margin-bottom: 5px;
}

#crwcpn-individual-product-notice .yellow {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
	padding: 5px;
	margin-bottom: 5px;
}